{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}

<div class="container mt-4 row">
    <div class="card col-md-6 m-auto">
        <div class="card-header">
            <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        </div>
        <div class="card-body">
            <form method="post" class="form">

                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <input type="hidden" name="token" value="{{ token }}">
                <div class="form-group float-right">
                    <button class="btn btn-dark" type="submit">
                        Register
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>



{% endblock %}